
h/Debug/h.pdb
h/Debug/h.ilk
h/Debug/h.exe
h/.vs/h/v15/ipch/9d223162ef5634d.ipch
h/.vs/h/v15/Browse.VC.db
h/.vs/h/v15/.suo
h/h/Debug/h.log
h/h/Debug/h.obj
h/h/Debug/h.pch
h/h/Debug/h.tlog/CL.command.1.tlog
h/h/Debug/h.tlog/CL.read.1.tlog
h/h/Debug/h.tlog/CL.write.1.tlog
h/h/Debug/h.tlog/h.lastbuildstate
h/h/Debug/h.tlog/link.command.1.tlog
h/h/Debug/h.tlog/link.read.1.tlog
h/h/Debug/h.tlog/link.write.1.tlog
h/h/Debug/pch.obj
h/h/Debug/vc141.idb
h/h/Debug/vc141.pdb
Ware House/.vs/Ware House/v15/.suo
Ware House/.vs/Ware House/v15/Browse.VC.db
Ware House/.vs/Ware House/v15/ipch/21015b290bf5bb65.ipch
Ware House/.vs/Ware House/v15/ipch/f52582a8962faabc.ipch
Ware House/.vs/Ware House/v16/.suo
Ware House/.vs/Ware House/v16/Browse.VC.db
Ware House/.vs/Ware House/v16/Browse.VC.opendb
Ware House/.vs/Ware House/v16/ipch/f52582a8962faabc.ipch
WareHouse/Debug/WareHouse.tlog/WareHouse.lastbuildstate
WareHouse/Debug/WareHouse.tlog/unsuccessfulbuild
WareHouse/Debug/WareHouse.tlog/link.write.1.tlog
WareHouse/Debug/WareHouse.tlog/link.read.1.tlog
WareHouse/Debug/WareHouse.tlog/link.command.1.tlog
WareHouse/Debug/WareHouse.tlog/CL.write.1.tlog
WareHouse/Debug/WareHouse.tlog/CL.read.1.tlog
WareHouse/Debug/WareHouse.tlog/CL.command.1.tlog
WareHouse/Debug/WareHouse.pdb
WareHouse/Debug/WareHouse.pch
WareHouse/Debug/WareHouse.log
WareHouse/Debug/WareHouse.ilk
WareHouse/Debug/WareHouse.exe
WareHouse/Debug/vc142.pdb
WareHouse/Debug/vc142.idb
WareHouse/Debug/Product.obj
WareHouse/Debug/Producer.obj
WareHouse/Debug/pch.obj
WareHouse/Debug/Market.obj
WareHouse/Debug/Grocery.obj
WareHouse/Debug/Consumer.obj
WareHouse/.vs/WareHouse/v16/ipch/353d3956b5fdbbc.ipch
WareHouse/.vs/WareHouse/v16/Browse.VC.opendb
WareHouse/.vs/WareHouse/v16/Browse.VC.db
WareHouse/.vs/WareHouse/v16/.suo
WareHouse/.vs/WareHouse/v16/Browse.VC.opendb
WareHouse/.vs/WareHouse/v16/Browse.VC.db
WareHouse/.vs/WareHouse/v16/.suo
WareHouse/.vs/WareHouse/v16/.suo
*.db
Cafe/.vs/Cafe/v15/.suo
Cafe/.vs/Cafe/v15/ipch/ef46d8a76217afc5.ipch
Cafe/.vs/Cafe/v16/.suo
Cafe/.vs/Cafe/v16/ipch/70209be48462bdc.ipch
Cafe/Cafe/Debug/Cafe.log
Cafe/Cafe/Debug/Cafe.obj
Cafe/Cafe/Debug/Cafe.pch
Cafe/Cafe/Debug/Cafe.tlog/Cafe.lastbuildstate
Cafe/Cafe/Debug/Cafe.tlog/CL.command.1.tlog
Cafe/Cafe/Debug/Cafe.tlog/CL.read.1.tlog
Cafe/Cafe/Debug/Cafe.tlog/CL.write.1.tlog
Cafe/Cafe/Debug/Cafe.tlog/link.command.1.tlog
Cafe/Cafe/Debug/Cafe.tlog/link.read.1.tlog
Cafe/Cafe/Debug/Cafe.tlog/link.write.1.tlog
Cafe/Cafe/Debug/Customer.obj
Cafe/Cafe/Debug/Menu.obj
Cafe/Cafe/Debug/pch.obj
Cafe/Cafe/Debug/vc142.idb
Cafe/Cafe/Debug/vc142.pdb
Cafe/Debug/Cafe.pdb
Cafe/Debug/Cafe.ilk
Cafe/Debug/Cafe.exe
WareHouse/.vs/WareHouse/v16/.suo
WareHouse/.vs/WareHouse/v16/Browse.VC.db
WareHouse/.vs/WareHouse/v16/Browse.VC.opendb
WareHouse/.vs/WareHouse/v16/ipch/a2950536bdbcb94d.ipch
Ware House/WareHouse/x64/Debug/WareHouse.Build.CppClean.log
Ware House/WareHouse/x64/Debug/WareHouse.log
Ware House/WareHouse/x64/Debug/WareHouse.tlog/unsuccessfulbuild
WareHouse/.vs/WareHouse/v16/.suo
WareHouse/.vs/WareHouse/v16/Browse.VC.db
WareHouse/.vs/WareHouse/v16/ipch/a2950536bdbcb94d.ipch
